<aside>
    <ul class="list-group">
        <a class="list-group-item {{#equals path " /account"}} active {{/equals}} " href=" /account"
            style="color: black;">
            Account overview </a>
        <a class="list-group-item {{#equals path " /account/payment"}} active {{/equals}}" href="/account/payment"
            style="color: black;"> My Payment Methods </a>
        <a class="list-group-item {{#equals path " /account/address"}} active {{/equals}}" href="/account/address"
            style="color: black;"> My Addresses </a>
        <a class="list-group-item {{#equals path " /account/order"}} active {{/equals}}" href="/account/order"
            style="color: black;"> My Orders </a>
    </ul>
</aside>