<footer class=" text-lg-start text-white" style="background-color: black;bottom:0; position:static">
    <div class="container p-4 pb-0">
        <section class="">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        KeyHub
                    </h6>
                    <p>
                        A revolutionary keyboard company aiming to deliver the best quality keyboards to customers
                        around the world
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                    <p>
                        <a class="text-white" href="">Keyboard</a>
                    </p>
                    <p>
                        <a class="text-white" href="">Keycaps</a>
                    </p>
                    <p>
                        <a class="text-white" href="">Switches</a>
                    </p>
                    <p>
                        <a class="text-white" href="">Accessories</a>
                    </p>
                    <p>
                        <a class="text-white" href="">Help</a>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fas fa-home mr-1"></i> Singapore Avenue, SG 478923, SG</p>
                    <p><i class="fas fa-envelope mr-3"></i> keyhub1@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 65 8927 2947</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
                    <a class="btn btn-primary btn-floating m-1" style="" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;border:black;"
                        href="#!" role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;border:black;"
                        href="#!" role="button"><i class="fab fa-google"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;border:black;"
                        href="#!" role="button"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;border:black;"
                        href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;border:black;"
                        href="https://github.com/lx0f/Keyhub" role="button"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">https://keyhub.sg</a>
    </div>
</footer>