<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; position: sticky; height:100vh; top: 0">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">
            <i class="fa fa-keyboard"></i>
            K E Y H U B</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/staff/" class="nav-link link-dark">
                <i class="fa fa-dashboard"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="/staff/chat" class="nav-link link-dark">
                <i class="fa fa-comment"></i>
                Chat
            </a>
        </li>
        <li>
            <a href="/staff/delivery" class="nav-link link-dark">
                <i class="fa fa-truck"></i>
                Deliveries
            </a>
        </li>
        <li>
            <a href="/staff/order" class="nav-link link-dark">
                <i class="fa fa-table"></i>
                Orders
            </a>
        </li>
        <li>
            <a href="/staff/product" class="nav-link link-dark">
                <i class="fa-solid fa-box"></i>
                Products
            </a>
        </li>
        <li>
            <a href="/staff/ticket" class="nav-link link-dark">
                <i class="fa fa-bug"></i>
                Tickets
            </a>
        </li>
        <li>
            <a href="/staff/user" class="nav-link link-dark">
                <i class="fa fa-user"></i>
                Users
            </a>
        </li>
        {{!-- <li>
            <a href="/staff/voucher" class="nav-link link-dark">
                <i class="fa fa-ticket"></i>
                Vouchers
            </a>
        </li> --}}
    </ul>
</div>