<div class="container">
  <br>
  <h3 class="text-center" style="color: black;">Order Cancellation Form</h3>
  <p class="text-center" style="font-size: 12px;">
    Please check your order information and fill in the reason for cancellation
  </p>
  <br>

{{!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Product Information</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Product Name:  </li>
    <li class="list-group-item">Product Category: </li>
  </ul>
</div>
<br> --}}

<form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        {{!-- <Input class="uploadProfileInput" type="file" name="myImage" id="newProfilePhoto" accept="image/*" style="opacity: 0;" /> --}}
        <div class="upload__box">
        <div class="upload__btn-box">
            <label class="upload__btn">
            <p>Upload images</p>
            <input type="file" name="myImage" accept="image/*" class="upload__inputfile">
            </label>
        </div>
        <div class="upload__img-wrap" style="width: 100px; height: 100px ">

        </div>
        </div>
    </div>
 
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Reason For Cancellation: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="reason" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>