{{>_chatbot}}
<section class="hero">
    <div class="hero-text container text-white">
        <h3>
            WELCOME TO
        </h3>
        <h1>
            K E Y H U B
        </h1>
        <p>
            Keyhub provides the right parts for your next awesome keyboard build
        </p>
    </div>
</section>
<section class="container grid cards">
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">
                        Keyboards
                    </h4>
                    <div class="card-text mb-3">
                        Prebuilt & Custom keyboards built to perfection
                    </div>
                    <button class="btn btn-primary">Go to link</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">
                        Keyboards
                    </h4>
                    <div class="card-text mb-3">
                        Prebuilt & Custom keyboards built to perfection
                    </div>
                    <button class="btn btn-primary">Go to link</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">
                        Keyboards
                    </h4>
                    <div class="card-text mb-3">
                        Prebuilt & Custom keyboards built to perfection
                    </div>
                    <button class="btn btn-primary">Go to link</button>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .hero {
        background-image: url("/img/site/hero-keyboard.jpg");
        background-size: cover;
        background-position: center;
    }

    .hero-text {
        padding: 150px 0px;
    }

    .cards>.row {
        position: relative;
        top: -50px;
    }
</style>