
<div class="container-1">
    <div class="card" style="border-radius:0;">
       
        <div class="text-area">
          <h1>Rewards <sup><span class="badge badge-primary" style="font-size:15px;">New</span></sup> <br> Program </h1>
          <span> Sign up now to enjoy exclusive benefits !</span>
          <br>
          <form action="/loyaltyprogram/signup" method="POST">
            <button type="submit" class="btn btn-primary"> Sign Up </button>
          </form>
           
        </div>
  
     
        <div class="contentBx">
    
        <br>
        <div class="size">
            <button class="btn btn-primary redeem"> Redeem </button>
        </div>
        
        </div>
    </div>
</div>
<br>
{{!-- <div class="container-2">
  <h4 style="text-align:center;"> Featured Rewards </h4>
  <div class="featured-rewards" >
   
   <div class="card">
      <div class="card-body">
        <div class="rewards-text">
          <h4>
            RT-89 Armakusha Keyboard
          </h4>
          <span>
            New rewards from 3th July - 20 August
          </span>
        </div>
      </div>
   </div>
    
  </div>
  
</div> --}}

<style>
  /*Featured rewards */
.container-2 .featured-rewards .card{
  width :60%;
  margin: auto;
  
  height: 150px;
 
}
.container-2 .featured-rewards .rewards-text{
  margin-top: 20px;
}

  /* Voucher & Product Redeem */

.container-1 .card{
  position: relative;
  width:100%;
  height:500px;
  background: #232323;
  overflow: hidden;
  border:none;
}

.container-1 .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ebf91, #8360c3); 
  clip-path: circle(550px at 80% 20%);
  transition: 0.5s ease-in-out;
}



.container-1 .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translate(150%,-40%);
 
  z-index: 3;
  width: 100%;
  height: 400px;
  transition: 0.5s;
}

{{!-- .container-1 .card:hover .imgBx{
  top: 0%;
  transform: translateY(-100%);
    
} --}}

.container-1 .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container-1 .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

{{!-- .container-1 .card:hover .contentBx{
  height: 210px;
} --}}
/* Text-area */
.container-1 .card .text-area{
  position: absolute;
  margin: 0;
  left:150px;
  top:100px;
}
.container-1 .card .text-area h1{
  font-weight: 800;
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: #fff;
}
.container-1 .card .text-area span{
  color: #E3E7E7;
}
.container-1 .card .text-area button{
  position: absolute;
  margin: 0;
  margin-top:30px;
  border-radius: 40px;
  z-index: 100;
  width:100%;

}
.container-1 .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

{{!-- .container-1 .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
} --}}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container-1 .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container-1 .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container-1 .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container-1 .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container-1 .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container-1 .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container-1 .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container-1 .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container-1 .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
</style>

