<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<div class="container">
	<div class="shadow card card-body ">
		<form action="" method="POST">
		
			<h3 >New Coupon</h3>
				
			
			
			<div class="mb-3">
				<label for="" class="form-label">Voucher Name</label>
				<input type="text" class="form-control" id="voucher_name" name="voucher_name" required>
			</div>
			 <div class="mb-3">
				<label for="voucher_desc" class="form-label">Voucher Description</label>
				<input type="text" class="form-control" id="voucher_desc" name="voucher_desc" required>
			</div>
			<div class="mb-3">
				<label for="coupon_id" class="form-label">Voucher Value</label>
				<input type="number" class="form-control" id="coupon_value" name="coupon_value" required>
			</div>
			<div class="mb-3">
				<label for="voucher_type">Voucher Type</label>
				<select class="form-control" id="voucher_type" name="voucher_type">
					<option value="Cashback">Cashback</option>
					<option value="Discount">Discount</option>
				</select>
			</div>
						
			<div class="mb-3">
				<label for="coupon_code" class="form-label">Voucher Code</label>
				<input type="text" class="form-control" id="voucher_code" value="" readonly name="voucher_code" >
			</div>
			<div class="mb-3">
				<input type="hidden" class="form-control" id="voucher_used" name="voucher_used" value="0" required>
			</div>
			<div class="mb-3">
				<label for="total_voucher" class="form-label">Total Voucher</label>
				<input type="number" class="form-control" id="total_voucher" name="total_voucher" required>
			</div>
			<div class="mb-3" id="timedisplay" >
				<div class="row">
					<div class="col-6">
						<label for="start_date" class="form-label">Start Date</label>
						<input type="text" id="timepicker"  class="" name="start_date" />
					</div>
					<div class="col-6">
						<label for="days" class="form-label">Period ( Days )</label>
						<input type="number" class="form-control" id="days" name="days" required>
					</div>
				</div>
            </div>
			
			{{!-- <div class="mb-3" id="timedisplay" >
            <label for="end_date" class="form-label">Expiry Date</label>
            
            <input type="text" id="timepicker_2" width="234" class="" name="end_date" />
            </div> --}}
			
			<label for="" class="form-label">Status</label>
			
			<div class=" btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-success col-2" disabled>
					<input type="radio" name="voucher_status" id="voucher_status" value="Active" autocomplete="off" checked> Active
				</label>
				
				<label class="btn btn col-2" disabled>
					<input type="radio" name="options"  autocomplete="off" > Non-Active
				</label>
			</div>
			<br>
			<div class="row">
				<div class="col-10 ">
					<button type="submit" class="btn btn-primary">Create Master Voucher</button>
				</div>
				
				<button type="button" class="col-2 btn btn-primary"> <a href="/staff/manage-vouchers" style="text-decoration:none; color:white;">Return</a></button>
			</div>
			
		</form>
	</div>
</div>
<script>
	$('#timepicker').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true
        });
	$('#timepicker_2').datetimepicker({
		uiLibrary: 'bootstrap4',
		modal: true,
		footer: true
	});

	var text = "";
	var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

	for (var i = 0; i < 8; i++)
		text += possible.charAt(Math.floor(Math.random() * possible.length));

	console.log(text)
	document.getElementById("voucher_code").value = text;

</script>