<div class="container"></div>
<form>
  <div class="d-none d-sm-inline-block form-inline navbar-search " style='padding-bottom: 20px;'>
  <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" placeholder="Product ID..."
         aria-label="Search" aria-describedby="basic-addon2">
     <div class="input-group-append">
          <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
          </button>
     </div>
  </div>
  </div>
</form>
<div class="wrapper">
    
    <input type="radio" name="slider" checked id="home">
    <input type="radio" name="slider" id="blog">
    <input type="radio" name="slider" id="code">
    <input type="radio" name="slider" id="help">
    <input type="radio" name="slider" id="add1">
    <nav>
      <label for="home" class="home"><i class="fas fa-star"></i>Pre-built Keyboard</label>
      <label for="blog" class="blog"><i class="fas fa-female"></i>Bare Bone Kit</label>
      <label for="code" class="code"><i class="fas fa-male"></i>Key Cap</label>
      <label for="help" class="help"><i class="fas fa-ring"></i>Switches</label>
      {{!-- <label for="add1" class="add1"><i class="fas fa-ring"></i>Accessories</label> --}}
      <div class="slider"></div>
    </nav>
    <!-- Section of Prebuilt keyboard-->
    <section>
        <div class="content content-1">
        <table class="table ">
          <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Rating</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Status</th>
                <th colspan="3">Operation</th> 
            </tr>
            </thead>
            <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  <td><p class="badge badge-danger"></p></td>
              
                  <td><p class="badge badge-success"></p></td>
               
                  <td>
    
                    <form action=""  method="POST">
                      
                      <!-- Button to Open the Modal -->
                      <button type="button" title="Delete" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#myModal_">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      
                      <!-- The Modal -->
                      <div class="modal" id="myModal_">
                        <div class="modal-dialog">
                          <div class="modal-content">
          
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Delete Confirmation</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
          
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure you want to delete ?
                            </div>
          
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <input type="submit" value="Delete" class="btn btn-danger">
                              
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                    </form>
                  </td>
                  <td>
                    <form action=""  method="POST">
                      <!-- Button to Open the Modal -->
                      <button type="submit" title="Update" class="btn btn-primary bg-gradient-primary"  data-bs-target="#myModal_">
                        <i class="fas fa-pen"></i>
                      </button>
                      
                    </form>
                  </td>
          
                  <td class='col-1'>
                        
                    <button type="button" title="View" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#weModal_">
                      <i class="far fa-eye"></i>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="weModal_" tabindex="-1" aria-labelledby="" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="">Product Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" >
                            <div class="card border-info mb-3">
                              <img src="" class="card-img-top" alt="">
                              <div class="card-body" style="color: black;">
                                <h5 class="card-title" style-color="black"></h5>
                                <p class="card-text"></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">Category:  </li>
                                <li class="list-group-item">Price: $</li>
                                <li class="list-group-item float-right">Stock: </li>
                              </ul>
                              <div class="card-body">
                                Created on :
                                <br>
                                Created by :
                                <br>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>   
                  </td>
                </tr>
                
            </tbody>
        </table>
        </div>
    </section>
</div>




<style>
    ::selection{
      background: rgba(23, 98, 184, 0.3);
    }
    .wrapper{
  
      width: 100%;
      height: 100%;
      padding: 25px 30px 30px 30px;
      border-radius: 5px;
      background: #fff;
    
    }
    .wrapper header{
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 20px;
    }
    .wrapper nav{
      position: relative;
      width: 80%;
      height: 50px;
      display: flex;
      margin-bottom: 10px;
      align-items: center;
    }
    .wrapper nav label{
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      position: relative;
      z-index: 1;
      color: #0f87d8;
      font-size: 17px;
      border-radius: 5px;
      margin: 0 5px;
  
      transition: all 0.3s ease;
    }
    .wrapper nav label:hover{
      margin-bottom: 10px;
      background:#1253a7;
    }
    #home:checked ~ nav label.home,
    #blog:checked ~ nav label.blog,
    #code:checked ~ nav label.code,
    #help:checked ~ nav label.help,
      #about:checked ~ nav label.about{
      color: #fff;
    }
    nav label i{
      padding-right: 7px;
    }
    nav .slider{
      position: absolute;
      height: 100%;
      width: 24%;
      left: 0;
      bottom: 0;
      z-index: 0;
      border-radius: 5px;
      background: #175db8;
      transition: all 0.3s ease;
    
    }
    input[type="radio"]{
      display: none;
    }
    #blog:checked ~ nav .slider{
      left: 25%;
    }
    #code:checked ~ nav .slider{
      left: 50%;
    }
    #help:checked ~ nav .slider{
      left: 75%;
    }
    #about:checked ~ nav .slider{
      left: 100%;
    }
    section .content{
      display: none;
      background: #fff;
    }
    #home:checked ~ section .content-1,
    #blog:checked ~ section .content-2,
    #code:checked ~ section .content-3,
    #help:checked ~ section .content-4,
    #about:checked ~ section .content-5{
      display: block;
    }
    section .content .title{
      font-size: 21px;
      font-weight: 500;
      margin: 30px 0 10px 0;
    }
    section .content p{
    text-align: justify;
    }
  </style>