<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="">
                    <!--<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
                    <div class="col-lg-7" style="max-width: 100%">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add Products<h1>
                            </div>
                            <form method="POST" action="/staff/product"> 
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name = "name" placeholder="Name" required>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name = "description" placeholder="Enter Description Here" required></textarea>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Category</label>
                                <br>
                                <select name="category" class="form-control" id="exampleFormControlInput1" required>
                                    <option value="" disabled selected>Choose a Category</option>
                                    <option value="pre">Pre-Built Keyboard</option><!--value is what is sent to the db-->
                                    <option value="barebones">Barebones Kit</option>
                                    <option value="switch">Switch</option> 
                                    <option value="keycaps">Keycaps</option>
                                    <option value="others">Others</option>
                                </select>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Stock</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" name = "stock" placeholder="Stock" required>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Price</label>
                                <input type="number" min="0.01" max="9999.99" step="0.01" class="form-control" id="exampleFormControlInput1" name = "price" placeholder="Price" required>
                                </div>
                                <div>
                                    <label for="exampleFormControlInput1" class="form-label">Colour</label>
                                    <br>
                                    <select name="colour" class="form-control" id="exampleFormControlInput1" required>
                                    <option value="" disabled selected>Choose a Colour</option>
                                    <option value="red">Red</option>
                                    <option value="green">Green</option>
                                    <option value="blue">Blue</option>
                                </select>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Image</label>
                                <input type="file" class="form-control" id="exampleFormControlInput1" name="image" accept="image/png,image/jpeg,image/jpg,image/gif" placeholder="Choose Image File">
                                </div>
                                <hr>
                                <button class="btn btn-primary btn-user btn-block" style="margin-bottom: 15px; margin-top: 40px;">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!--
    input format
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Test Input</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name = "test" placeholder="" >
                                </div>
                                >