<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="">
                    <!--<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
                    <div class="col-lg-7" style="max-width: 100%">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add Products<h1>
                            </div>
                            <form method="POST" action="/staff/product"> 
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Test Input</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name = "test" placeholder="" >
                                </div>
                                <hr>
                                <button class="btn btn-primary btn-user btn-block" style="margin-bottom: 15px; margin-top: 40px;">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


