<section id="banner">
    <div id="banner-image">
        <div id="banner-text">
            Your one-stop destination for all things keyboard.
        </div>
    </div>
</section>
<style>
    #banner-text {
        position: relative;
        width: 576px;
        height: 231px;
        left: 432px;
        top: 22%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 77px;
        text-align: center;
        color: white;
    }

    #banner-image {
        height: 400px;
        width: 100%;
        background: linear-gradient(0deg, rgba(5, 12, 47, 0.3), rgba(5, 12, 47, 0.3)), url(/images/banners/keyboard-1.jpg);
        background-size: cover;
        background-position: center;
    }
</style>
<main class="container">
    <section id="business-benefits">

    </section>
    <section class="row" id="popular-products">
    </section>
    <section class="row" id="categories">
        {{!-- <div class="col-3">Keyboard</div>
        <div class="col-3">Switches</div>
        <div class="col-3">Keycaps</div>
        <div class="col-3">Accessories</div> --}}
    </section>
</main>