

<section class="card" style="border:none;" >
    <div id="banner-image">
        
        <div id="banner-text">
            <h5 style="font-size: 40px;">
                WELCOME TO
            </h5>
            <h3 style="font-size: 50px;">
                K E Y H U B &nbsp S I T E
            </h3>
            <p style="font-size: 20px;line-height:25px;font-weight: 500;">
                Keyhub provides all the keyboards you need ranging from prebuilt ones to custom made keyboards
            </p>
            
        </div>
        <div class="right-img">
            <img style="height: 50%; width: 50%;-webkit-transform: scaleX(-1);
  transform: scaleX(-1);" valign="middle" src="https://resource.logitechg.com/w_692,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/lol-pro-x-keyboard/gallery/league-of-legends-pro-x-gaming-keyboard-gallery-1.png?v=1" alt="">
        </div>
    </div> 
</section>
<style>
    @media screen and (max-width: 1200px) {
 #banner-text{
    margin-left:-300px;
    text-align: center;
 }
 .right-img{
    display: none;
 }
}
@media screen and (max-width: 1646px) {
    #banner-text{
    margin-left:-200px;
 }
 .right-img{
    margin-right:-200px;
 }
}
    #banner-text {
        position: relative;
        width: 576px;
        height: 231px;
        left: 432px;
        top: 22%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 77px;
        float:left;
        color: white;
    }

    #banner-image {
        height: 500px;
        width: 100%;
        background: linear-gradient(0deg, rgba(5, 12, 47, 0.4), rgba(5, 12, 47, 0.8)), url(https://images.unsplash.com/photo-1612383401597-cdfb8bdfa0d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
        background-size: cover;
        background-position: center;
        
    }
    .right-img{
        position: relative;
        top: 20%;
        left:-10px;
        float:right;
    }
    
    #card-header .card-1{
        width:30%;
        margin-bottom:100px
        
    }
    #card-header .card-2{
        position: relative;
        
    }
    
    .shopcard{
        transition: ease-in 0.3s
    }
    .shopcard:hover{
        box-shadow: 1px 1px 3px grey;
        transition: ease-in 0.3s
    }
    .shopnow{
        float:right;
    }
    .shopnow:hover{
        
        background-color: black;
        color:white;
        transition: ease-in 0.3s
    }
    .shopnow:hover a{
        
        color:white;
        transition: ease-in 0.3s
    }
    .seeall:hover{
        color:white;
        background-color:black;
    }
    .buynow:hover{
        background-color: black;
        color:white;
    }
</style>
<br>

<!-- section-header.// -->



<!-- ========================= SECTION SPECIAL ========================= -->
<section class="section-specials padding-y border-bottom">
<div class="container" style="margin-top: 40px;">	
<div class="row">
<div class="col-4" >	
	<div class="card shopcard" style="width:90%;position: absolute;bottom:0;border:none;margin-top:10px;" >
		<div class="card-body">
			<figure class="itemside" >
				{{!-- <div class="aside">
					<span class="icon-sm rounded-circle bg-primary">
						
					</span>
				</div> --}}
				<figcaption class="info" style="width:90%">
					<h5 class="title">Keyboards</h5>
					<p class="text-muted">Prebuilt & Custom Keyboards build to perfection.</p>
                    
				</figcaption>
                <br>
                
			</figure>
            <button class="btn shopnow"><a href="/Cproducts/keyboard">Shop Now</a></button>
		</div>
	</div>
			 <!-- iconbox // -->
	</div><!-- col // -->
	<div class="col-4">
        <div class="card shopcard" style="width:90%;position: absolute;bottom:0;border:none;margin-top:10px;" >
            <div class="card-body">
                <figure class="itemside" >
                    {{!-- <div class="aside">
                        <span class="icon-sm rounded-circle bg-primary">
                            
                        </span>
                    </div> --}}
                    <figcaption class="info" style="width:90%">
                        <h5 class="title">Keycaps</h5>
                        <p class="text-muted">Fresh & New designs everyday to choose.</p>
                        
                    </figcaption>
                    <br>
                    
                </figure>
                <button class="btn shopnow"><a href="/Cproducts/keycaps">Shop Now</a></button>
            </div>
        </div>
	</div> <!-- iconbox // -->
	<!-- col // -->
	<div class="col-4">
            <div class="card shopcard" style="width:90%;position: absolute;bottom:0;border:none;margin-top:10px;" >
            <div class="card-body">
                <figure class="itemside" >
                    {{!-- <div class="aside">
                        <span class="icon-sm rounded-circle bg-primary">
                            
                        </span>
                    </div> --}}
                    <figcaption class="info" style="width:90%">
                        <h5 class="title">Switches</h5>
                        <p class="text-muted">Enjoy the clicking sounds with our custom switch</p>
                        
                    </figcaption>
                    <br>
                    
                </figure>
                <button class="btn shopnow"><a href="/Cproducts/switches">Shop Now</a></button>
            </div>
        </div> <!-- iconbox // -->
	</div><!-- col // -->
</div> <!-- row.// -->

</div> <!-- container.// -->
</section>
<!-- ========================= SECTION SPECIAL END// ========================= -->

<style>
    .view{
        position: relative;
        background-color: black;
        color:white;
        border:none;
        top: 100px;  
        transition: ease-in 0.3s;
    }
    .view:hover{
        background-color: black;
        color:white;
    }
    .viewmore:hover .view{
        top: -80px;
       
        transition: ease-in 0.3s;
    }
    .card-product-grid:hover{
        box-shadow: 0 1px 6px 2px grey;
    }
</style>


<!-- ========================= SECTION  ========================= -->
<section class="section-name  padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="#" class="btn seeall float-right">View all</a>
	<h3 class="section-title">Top Selling products</h3>
</header><!-- sect-heading -->

	
<div class="row">
    {{#each populars}}
	<div class="col-md-3">
		<div href="#" class="card card-product-grid">
            <div class="card viewmore" style="overflow:hidden;height:50%;border:none;">
			    <a href="#" class="img-wrap"> <img src="/{{this.Product.image}}"> </a>
            <center> 
                <form action="/Cproducts/detail/{{this.Product.id}}" method="GET">
                <button class="btn btn-primary view"> View More </button> </center>
                </form>
            </div>
            <center> <hr style="width: 80%;"> </center>
			<center><figcaption class="info-wrap" style="top:0;">
				<a href="#" class="title">{{this.Product.name}}</a>
				<div class="price mt-1">${{this.Product.price}}.00</div> <!-- price-wrap.// -->
			</figcaption>
            </center>
		</div>
	</div> <!-- col.// -->
    {{/each}}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


{{!-- <!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-top padding-y">
			<div class="row">
				<aside class="col-md col-6">
					<h6 class="title">Support</h6>
					<ul class="list-unstyled">
						<li> <a href="#">Products</a></li>
						<li> <a href="/faqs">FAQ</a></li>
						<li> <a href="/policies/privacy-policy">Privacy Policy</a></li>
						<li> <a href="/policies/refund-policy">Refund Policy</a></li>
						<li> <a href="/policies/terms-of-service">Terms & Condition</a></li>
					</ul>
				</aside>
				<aside class="col-md col-6">
					<h6 class="title">Product</h6>
					<ul class="list-unstyled">
						<li> <a href="#">Keyboards</a></li>
						<li> <a href="#">Keycaps</a></li>
						<li> <a href="#">Switches</a></li>
						<li> <a href="#">Accessories</a></li>
						<li> <a href="#">All Products</a></li>
					</ul>
				</aside>
				<aside class="col-md">
					<h6 class="title">Social</h6>
					<ul class="list-unstyled">
						<li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
						<li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
						<li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
						<li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
					</ul>
				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->

		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2022 Key Hub</p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@pixsellz.io</span>
				<span  class="px-2">+879-332-9375</span>
				<span  class="px-2">Street name 123, Avanue abc</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
 --}}

<style>

</style>

