<br>
<h3 class="text-center" style="color: black;">Redund Policy</h3>

<br>

<div class="container">
<h5>Refund</h5>
<p>
    Our refund policy applies only to products that are unused and in the same condition that you have received it. 
    The products must also be returned in their original packaging and must be accompanied by a valid receipt or proof of purchase.
</p>
<br>
<p>    
    The return period for eligible products is 14 days starting from the day you received your purchased items.
</p>
<br><br>
<h5>Late or missing refunds</h5>
<p>
    Please contact us at <strong>hello@keyhub.sg</strong> if your refund is still pending after 14 days from the day of your refund request. 
</p>



<br><br><br>
</div>