<!-- ============== COMPONENT FINAL =============== -->
<!-- <button id="trigger">Complete/Reverse (debug)</button> -->
<div id="processing" class="uncomplete center" style="padding-bottom:250px;">
	<div class="headings" style="top:0">
		<h1 id="process">Payment processing...</h1>
		<h2 id="completed">Please wait</h2>
    
	</div>
	<div class="wrapper">
		<div class="gears">
			<div class="gear-wrapper gear-wrapper-1">
				<svg version="1.1" class="gear gear-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
		c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
		c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
		C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
		c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
		c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
		C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
		c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
		c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
		C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
		c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
		c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
		C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
		c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
				</svg>
			</div>
			<div class="gear-wrapper gear-wrapper-2">
				<svg version="1.1" class="gear gear-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
		c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
		c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
		C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
		c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
		c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
		C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
		c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
		c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
		C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
		c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
		c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
		C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
		c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
				</svg>
			</div>
			<div class="gear-wrapper gear-wrapper-3">
				<svg version="1.1" class="gear gear-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
		c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
		c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
		C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
		c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
		c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
		C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
		c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
		c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
		C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
		c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
		c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
		C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
		c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
				</svg>
			</div>
			<div class="gear-wrapper gear-wrapper-4">
				<svg version="1.1" class="gear gear-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
		c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
		c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
		C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
		c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
		c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
		C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
		c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
		c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
		C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
		c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
		c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
		C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
		c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
				</svg>
			</div>
		</div>
		<div class="loading-bar" data-progress="0" style="margin-bottom:100px;background-color:white;"><span></span></div>
		<svg class="checkmark checkmark-success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" >
			<circle class="checkmark-circle" cx="25" cy="25" r="25" fill="none" />
			<path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
		</svg>
	</div>
  <button class="btn btn-primary " id="continue" onclick="tocontinue()" hidden> Continue </button>
</div>

		

<div class="card" style="width:500px;margin:auto;margin-top:50px;background-color:#F4F5F5;border:none;">
	<div class="card-body">
		<figcaption class="badge badge-secondary " style="position:absolute;right:20px;width:150px;">
				<span>Order Id : <strong>#01402G9SJ</strong></span>
			</figcaption>
		<figure class="mt-4 mx-auto text-center" style="max-width:600px">
			<svg width="96px" height="96px" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="round-check">
						<circle id="Oval" fill="#D3FFD9" cx="48" cy="48" r="48"></circle>
						<circle id="Oval-Copy" fill="#87FF96" cx="48" cy="48" r="36"></circle>
						<polyline id="Line" stroke="#04B800" stroke-width="4" stroke-linecap="round" points="34.188562 49.6867496 44 59.3734993 63.1968462 40.3594229"></polyline>
					</g>
				</g>
			</svg>
			
			<figcaption class="my-3">
				<h4>THANK YOU FOR YOUR PURCHASE</h4>
				<p>We will email you a copy of your order details and tracking information.</p>
			</figcaption>
				<ul class="steps-wrap mx-auto" style="max-width: 600px">
					<li class="step active">
						<span class="icon">1</span>
						<span class="text">Order received</span>
					</li> <!-- step.// -->
					<li class="step ">
						<span class="icon">2</span>
						<span class="text">Confirmation</span>
					</li> <!-- step.// -->
					<li class="step ">
						<span class="icon">3</span>
						<span class="text">Delivery</span>
					</li> <!-- step.// -->
				</ul>
			
				
			<figcaption class="my-3">
				<a href="/"><button class="btn btn-primary">Continue Shopping</button></a>
			</figcaption>

		</figure>
		
		
		
		<br>

	</div>
</div>




<style>
  .hidden{
  display: none;
}
	/* =====  STEPS  ===== */
.steps-wrap {
  
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  position: relative;
  display: flex;
  border-radius: 30px;
}
.steps-wrap .step {
  width: 100%;
  text-align: center;
  position: relative;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
}
.steps-wrap .step:before {
  background-color: #ccd1d6;
  height: 4px;
  position: absolute;
  content: " ";
  width: 100%;
  right: 50%;
  top: 10px;
}
.steps-wrap .step:first-child:before {
  display: none;
}
.steps-wrap .icon {
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  text-align: center;
  background: #ccd1d6;
}
.steps-wrap .text {
  display: block;
  padding-top: 5px;
  text-align: center;
  color: #9DA1A7;
}
.steps-wrap .step.active .icon {
  background: #00a524;
  color: #fff;
}
.steps-wrap .step.active .text {
  color: #9DA1A7;
}
.steps-wrap .step.active:before {
  background: #00a524;
}
.steps-wrap .step.active:after {
  background: #00a524;
  height: 4px;
  position: absolute;
  content: " ";
  z-index: 5;
  width: 50%;
  right: 0%;
  top: 10px;
}
.steps-wrap .step.active:last-child:after {
  display: none;
}

@import url(&#34;
https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&#34;
);

 body {

	 font-family: &#34;
	Open Sans&#34;
	, sans-serif;
}
 .center {
	 margin: 0 auto;
	 text-align: center;
}
 #processing {
  position: fixed;
	 z-index: 100;
	 width: 100%;
	 height: 100vh;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 padding: 15px;
	 background-color: white;
}
 #processing.uncomplete .gear-wrapper-1 {
	 animation: gearEnter1 0.5s ease 1s forwards;
}
 #processing.uncomplete .gear-wrapper-2 {
	 animation: gearEnter2 0.5s ease 1.5s forwards;
}
 #processing.uncomplete .gear-wrapper-3 {
	 animation: gearEnter3 0.5s ease 1.25s forwards;
}
 #processing.uncomplete .gear-wrapper-4 {
	 animation: gearEnter4 0.5s ease 0.75s forwards;
}
 #processing.complete .gears {
	 background-color: transparent;
	 transition: background-color 0.25s ease 0.75s;
}
 #processing.complete .gear-wrapper-1 {
	 transform: rotate(10deg) translate3d(-5px,-5px,0);
	 animation: gearLeave1 0.5s ease 0.5s forwards;
}
 #processing.complete .gear-wrapper-2 {
	 transform: rotate(25deg) translate3d(20px,-50px,0);
	 animation: gearLeave2 0.5s ease 0.5s forwards;
}
 #processing.complete .gear-wrapper-3 {
	 transform: rotate(15deg) translate3d(-25px,-15px,0);
	 animation: gearLeave3 0.5s ease 0.5s forwards;
}
 #processing.complete .gear-wrapper-4 {
	 transform: translate3d(0,0,0);
	 animation: gearLeave4 0.5s ease 0.5s forwards;
}
 #processing.complete .loading-bar {
	 animation: hideLoading 0.5s forwards;
}
 #processing.complete .checkmark.checkmark-success {
	 animation: fillCheckSuccess 0.4s cubic-bezier(0.65,0,0.45,1) 1s forwards, beatCheck 0.2s ease-out 1.5s forwards, echoSuccess 1.25s ease-out 1.5s forwards;
}
 #processing.complete .checkmark.checkmark-success .checkmark-circle {
	 stroke: #3c763d;
}
 #processing.complete .checkmark.checkmark-error {
	 animation: fillCheckError 0.4s cubic-bezier(0.65,0,0.45,1) 1s forwards, beatCheck 0.2s ease-out 1.5s forwards, echoError 1.25s ease-out 1.5s forwards;
}
 #processing.complete .checkmark.checkmark-error .checkmark-circle {
	 stroke: #a94442;
}
 #processing.complete .checkmark-circle {
	 animation: strokeCheck 0.5s cubic-bezier(0.5,0,0.45,1) 0.75s forwards;
}
 #processing.complete .checkmark-check {
	 animation: strokeCheck 0.3s cubic-bezier(0.5,0,0.45,1) 1.25s forwards;
}
 h1 {
	 color: #333;
	 font-weight: 400;
}
 h2 {
	 color: #999;
	 font-weight: 300;
}
 .wrapper {
	 position: relative;
	 margin: 30px auto;
}
 .gears {
	 width: 200px;
	 height: 200px;
	 background-color: #999;
	 border-radius: 50%;
	 overflow: hidden;
	 transform: scale(0);
	 animation: scale 0.5s ease 0.5s forwards;
}
 @keyframes scale {
	 to {
		 transform: scale(1);
	}
}
 .gear-wrapper {
	 position: absolute;
}
 .gear-wrapper.gear-wrapper-1 {
	 top: 0;
	 left: 0;
	 transform: rotate(10deg) translate3d(-40px,-60px,0);
}
 .gear-wrapper.gear-wrapper-2 {
	 top: 0;
	 right: 0;
	 transform: rotate(25deg) translate3d(70px,-130px,0);
}
 .gear-wrapper.gear-wrapper-3 {
	 bottom: 0;
	 right: 0;
	 transform: rotate(15deg) translate3d(30px,20px,0);
}
 .gear-wrapper.gear-wrapper-4 {
	 bottom: 0;
	 left: 0;
	 transform: translate3d(-70px,70px,0);
}
 @keyframes gearEnter1 {
	 to {
		 transform: rotate(10deg) translate3d(-5px,-5px,0);
	}
}
 @keyframes gearEnter2 {
	 to {
		 transform: rotate(25deg) translate3d(20px,-50px,0);
	}
}
 @keyframes gearEnter3 {
	 to {
		 transform: rotate(15deg) translate3d(-25px,-15px,0);
	}
}
 @keyframes gearEnter4 {
	 to {
		 transform: translate3d(0,0,0);
	}
}
 @keyframes gearLeave1 {
	 from {
		 transform: rotate(10deg) translate3d(-5px,-5px,0);
	}
	 to {
		 transform: rotate(10deg) translate3d(-40px,-60px,0);
	}
}
 @keyframes gearLeave2 {
	 from {
		 transform: rotate(25deg) translate3d(20px,-50px,0);
	}
	 to {
		 transform: rotate(25deg) translate3d(70px,-130px,0);
	}
}
 @keyframes gearLeave3 {
	 from {
		 transform: rotate(15deg) translate3d(-25px,-15px,0);
	}
	 to {
		 transform: rotate(15deg) translate3d(30px,20px,0);
	}
}
 @keyframes gearLeave4 {
	 from {
		 transform: translate3d(0,0,0);
	}
	 to {
		 transform: translate3d(-70px,70px,0);
	}
}
 .gear {
	 fill: #e4e4e4;
	 transform-origin: 50% 50%;
}
 .gear.gear-1 {
	 width: 90px;
	 height: 90px;
	 animation: gearRotate 1s linear 2s infinite reverse;
}
 .gear.gear-2 {
	 width: 150px;
	 height: 150px;
	 animation: gearRotate 1.5s linear 2s infinite;
}
 .gear.gear-3 {
	 width: 60px;
	 height: 60px;
	 animation: gearRotate 0.75s linear 2s infinite reverse;
}
 .gear.gear-4 {
	 width: 120px;
	 height: 110px;
	 animation: gearRotate 1.25s linear 2s infinite;
}
 @keyframes gearRotate {
	 to {
		 transform: rotate(360deg);
	}
}
 .loading-bar {
	 position: relative;
	 width: 200px;
	 height: 10px;
	 margin-top: 50px;
	 background-color: #e4e4e4;
	 border-radius: 10px;
	 overflow: hidden;
}
 .loading-bar span {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 0;
	 height: 100%;
	 background-color: #999;
	 transition: width 0.5s ease;
}
 @keyframes hideLoading {
	 to {
		 height: 0;
		 margin: 0;
		 opacity: 0;
	}
}
 .checkmark {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100px;
	 height: 100px;
	 margin-top: -50px;
	 margin-left: -50px;
	 display: block;
	 border-radius: 50%;
	 stroke-width: 1px;
	 stroke: #fff;
	 stroke-miterlimit: 10px;
}
 .checkmark-circle {
	 fill: none;
	 stroke-dasharray: 200px;
	 stroke-dashoffset: 200px;
	 stroke-width: 1px;
	 stroke-miterlimit: 10px;
}
 @keyframes fillCheckSuccess {
	 to {
		 box-shadow: inset 0 0 0 100px #3c763d;
	}
}
 @keyframes fillCheckError {
	 to {
		 box-shadow: inset 0 0 0 100px #a94442;
	}
}
 @keyframes beatCheck {
	 0%, 100% {
		 transform: scale(1);
	}
	 50% {
		 transform: scale(1.05);
	}
}
 @keyframes echoSuccess {
	 from {
		 box-shadow: inset 0 0 0 100px #3c763d, 0 0 0 0 #3c763d;
	}
	 to {
		 box-shadow: inset 0 0 0 100px #3c763d, 0 0 0 50px transparent;
	}
}
 @keyframes echoError {
	 from {
		 box-shadow: inset 0 0 0 100px #a94442, 0 0 0 0 #a94442;
	}
	 to {
		 box-shadow: inset 0 0 0 100px #a94442, 0 0 0 50px transparent;
	}
}
 .checkmark-check {
	 stroke: #fff;
	 stroke-dasharray: 100px;
	 stroke-dashoffset: 100px;
	 transform-origin: 50% 50%;
}
 @keyframes strokeCheck {
	 to {
		 stroke-dashoffset: 0px;
	}
}

</style>


<script>
  function tocontinue(){
  console.log("hi")
    document.getElementById("processing").style.display = "none" ;
  }
  $(document).ready(function () {
	// Progress
	var progressBar = $(".loading-bar span");
	var progressAmount = $(".loading-bar").attr("data-progress");
	progressAmount = 0;

	var loadingDelay = setTimeout(function () {
		var interval = setInterval(function () {
			progressAmount += 10;

			progressBar.css("width", progressAmount + "%");

			if (progressAmount >= 100) {
				setTimeout(function () {
					clearInterval(interval);
					reverseAnimation();
          
				}, 300);
			}
		}, 300);
	}, 2000);

	// Processing over
	function reverseAnimation() {
    document.getElementById("processing").classList.remove("uncomplete");
    document.getElementById("processing").classList.add("complete");
    document.getElementById("completed").innerHTML = "";
    document.getElementById("process").innerHTML = "Payment Completed";
    document.getElementById("continue").removeAttribute("hidden");
	
	}
 

	
	
});

</script>