<div class="container">
<form method="POST" action="/createPE">
  <div class="form-group">
    <label for="exampleFormControlInput1">Product Name: </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please enter a product Name" name="ProductName" required>
  </div>
  <div class="form-group">
    <label for="productcategory">Category:</label>
    <select class="form-control" id="productcategory" name="ProductCategory" required>
      <option>Pre-built Keyboard</option>
      <option>Bare Bone Kit</option>
      <option>Key Cap</option>
      <option>Switches</option>
      <option>Accessories</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Rating:</label>
    <select class="form-control" id="exampleFormControlSelect1" name="ProductRating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comments:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="ProductRemarks" required></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>