<!-- ============== SECTION CONTENT ============== -->

<section class="padding-y">
<div class="container">

<div class="row">
<aside class="col-lg-6">
  <article class="gallery-wrap"> 
    <div class="img-big-wrap img-thumbnail">
       <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big.jpg"> 
          <img height="560" src="images/items/detail1/big.jpg"> 
       </a>
    </div> <!-- img-big-wrap.// -->
    <div class="thumbs-wrap">
      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big1.jpg" class="item-thumb"> 
        <img width="60" height="60" src="images/items/detail1/thumb1.jpg"> 
      </a>
      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big2.jpg" class="item-thumb"> 
        <img width="60" height="60" src="images/items/detail1/thumb2.jpg">  
      </a>
      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big3.jpg" class="item-thumb"> 
        <img width="60" height="60" src="images/items/detail1/thumb3.jpg">  
      </a>
      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big4.jpg" class="item-thumb"> 
        <img width="60" height="60" src="images/items/detail1/thumb4.jpg">  
      </a>
      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big.jpg" class="item-thumb"> 
        <img width="60" height="60" src="images/items/detail1/thumb.jpg">  
      </a>
    </div> <!-- thumbs-wrap.// -->
  </article> <!-- gallery-wrap .end// -->
</aside>
<main class="col-lg-6">
  <article class="ps-lg-3">
    <h4 class="title text-dark">Quality Men's Hoodie for Winter, Men's Fashion <br> Casual Hoodie </h4>
    <div class="rating-wrap my-3">
      <ul class="rating-stars">
        <li style="width:80%" class="stars-active"> <img src="images/misc/stars-active.svg" alt=""> </li>
        <li> <img src="images/misc/starts-disable.svg" alt=""> </li>
      </ul>
      <b class="label-rating text-warning"> 4.5</b>
      <i class="dot"></i>
      <span class="label-rating text-muted"> <i class="fa fa-shopping-basket"></i> 154 orders </span>
      <i class="dot"></i>
      <span class="label-rating text-success">In stock</span>
    </div> <!-- rating-wrap.// -->

    <div class="mb-3"> 
      <var class="price h5">$75.00</var> 
      <span class="text-muted">/per box</span> 
    </div> 

    <p>Modern look and quality demo item is a streetwear-inspired collection that continues to break away from the conventions of mainstream fashion. Made in Italy, these black and brown clothing low-top shirts for men.</p>

    <dl class="row">
      <dt class="col-3">Type:</dt>
      <dd class="col-9">Regular</dd>

      <dt class="col-3">Color</dt>
      <dd class="col-9">Brown</dd>

      <dt class="col-3">Material</dt>
      <dd class="col-9">Cotton, Jeans </dd>

      <dt class="col-3">Brand</dt>
      <dd class="col-9">Reebook </dd>
    </dl>

    <hr>

    <div class="row mb-4">
      <div class="col-md-4 col-6 mb-2 ">
        
        <select class="form-select btn btn-primary" >
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
        </select>
      </div> <!-- col.// -->
      <div class="col-md-4 col-6 mb-3">
        <label class="form-label d-block">Quantity</label>
        <div class="input-group input-spinner">
          <button class="btn btn-icon btn-light" type="button"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                <path d="M19 13H5v-2h14v2z"></path>
              </svg>
          </button>
          <input class="form-control text-center" placeholder="" value="14">
          <button class="btn btn-icon btn-light" type="button"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
              </svg>
          </button>
        </div> <!-- input-group.// -->
      </div> <!-- col.// -->
    </div> <!-- row.// -->

    <a href="#" class="btn  btn-warning"> Buy now </a>
    <a href="#" class="btn  btn-primary"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
    <a href="#" class="btn  btn-light"> <i class="me-1 fa fa-heart"></i> Save </a>
  
  </article> <!-- product-info-aside .// -->
</main> <!-- col.// -->
</div> <!-- row.// -->

</div> <!-- container .//  -->
</section>

<!-- =================== COMPONENT REVIEW ====================== -->

	<div class="row" style="margin:auto;">
		<aside class="col-lg-9">
			<div class="card mb-4" style="height:605px ;">
				<div class="card-body">
					<div class="row">
						<div class="col-10">
							<h4 class="card-title" style="padding-top:20px;">Reviews  </h4>
						
						</div>
						
						<div class="col-2">
							<div class="d-flex mb-3 float-right">
								<div class="btn-group d-inline-flex me-2">
									<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Like"> <i class="fa fa-thumbs-up"></i> </button>
									<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Dislike"> <i class="fa fa-thumbs-down"></i> </button>
								</div>
								&nbsp
								<button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i> </button>
							</div>
							<p style="color:grey;float:right;"> 200 Reviews </p>
						</div>
					</div>
					
					
					<hr>
					<br>
					
					<div class="scroll" style="overflow-y:auto;height:450px;">

					
						<blockquote class="border-bottom">
							<div class="d-flex mb-3 float-right">
									<div class="btn-group d-inline-flex me-2">
										<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Like"> <i class="fa fa-thumbs-up"></i> </button>
										<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Dislike"> <i class="fa fa-thumbs-down"></i> </button>
									</div>
									&nbsp
									<button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i> </button>
								</div>
							<div class="icontext">
								<img src="../images/avatars/avatar.jpg" class="img-xs icon rounded-circle">
								<div class="text">
									
									<h6 class="mb-0"> Michael Jonathan </h6>
									<div class="rating-wrap">
										<ul class="rating-stars">
											<li style="width:80%" class="stars-active">
												<img src="../images/misc/stars-active.svg" alt="">
											</li>
											<li> <img src="../images/misc/starts-disable.svg" alt=""> </li>
										</ul>
										<b class="dot"></b>
										<small class="label-rating text-muted"> Purchased on Wed, May 12 </small>
									</div>
								</div>
							</div> <!-- icontext.// -->
							<div class="mt-3">
								<p>
									It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) that it can not find any song and it just makes up a different song to thats all and all the best Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi
								</p>
							</div>
							<br>
						</blockquote>
						<br>
						<blockquote class="border-bottom">
							<div class="float-lg-end d-flex mb-3 float-right">
								<div class="btn-group d-inline-flex me-2">
									<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Like"> <i class="fa fa-thumbs-up"></i> </button>
									<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Dislike"> <i class="fa fa-thumbs-down"></i> </button>
								</div>
								&nbsp
								<button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i> </button>
							</div>
							<div class="icontext">
								<img src="../images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
								<div class="text">
									<h6 class="mb-0"> Michael Jonathan </h6>
									<div class="rating-wrap">
										<ul class="rating-stars">
											<li style="width:80%" class="stars-active">
												<img src="../images/misc/stars-active.svg" alt="">
											</li>
											<li> <img src="../images/misc/starts-disable.svg" alt=""> </li>
										</ul>
										<b class="dot"></b>
										<small class="label-rating text-muted"> Purchased on Wed, May 12 </small>
									</div>
								</div>
							</div> <!-- icontext.// -->
							<div class="mt-3">
								<p>
									It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) that it can not find any song and it just makes up a different song to thats all and all the best
									Just makes up a different song to thats all and all the best
								</p>
							</div>
							<br>
						</blockquote>
						<br>
						<blockquote class="border-bottom">
							<div class="float-lg-end d-flex mb-3 float-right">
								<div class="btn-group d-inline-flex me-2">
									<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Like"> <i class="fa fa-thumbs-up"></i> </button>
									<button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Dislike"> <i class="fa fa-thumbs-down"></i> </button>
								</div>
								&nbsp
								<button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i> </button>
							</div>
							<div class="icontext">
								<img src="../images/avatars/avatar3.jpg" class="img-xs icon rounded-circle">
								<div class="text">
									<h6 class="mb-0"> John Alex </h6>
									<div class="rating-wrap">
										<ul class="rating-stars">
											<li style="width:80%" class="stars-active">
												<img src="../images/misc/stars-active.svg" alt="">
											</li>
											<li> <img src="../images/misc/starts-disable.svg" alt=""> </li>
										</ul>
										<b class="dot"></b>
										<small class="label-rating text-muted"> Purchased on Wed, Apr 30 </small>
									</div>
								</div>
							</div> <!-- icontext.// -->
							<div class="mt-3">
								<p>
									It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) that it can not find any song and it just makes up a different song to thats all and all the best It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) 
								</p>
							</div>
							<br>
						</blockquote>
					</div>

				</div>
				</div>
			</aside>
		
			<aside class="col-lg-3" >
				<article class="card">
					<div class="card-body">
						
						
						
						<div class="total-rating">
							<h4 class="text-lg " style="text-align:center;"> 
							4.6 out of 5 
							</h4>	
							<div class="stars" style="text-align: center;">
								<i class="fa-solid fa-star fa-lg"></i>
								<i class="fa-solid fa-star fa-lg"></i>
								<i class="fa-solid fa-star fa-lg"></i>
								<i class="fa-solid fa-star fa-lg"></i>
								<i class="fa-solid fa-star-half fa-lg"></i>
							</div>
						</div>
						
						
						{{!-- <div class="rating-wrap mt-3" >
							<ul class="rating-stars stars-lg">
								<li style="width:80%" class="stars-active"> <img src="../images/misc/stars-active.svg" alt=""> </li>
								<li> <img height="520" src="../images/misc/starts-disable.svg" alt=""> </li>
							</ul>
								
						</div> <!-- rating-wrap.// --> --}}
						<br>
						
						
						
						<table class="table table-borderless table-sm">
							<tr valign="middle">
								<td width="50"> 5 <i class="fa-solid fa-star"></i></td>
								<td style="vertical-align:middle ;"> 
									<div class="progress" style="height: 10px;" >
									<div class="progress-bar bg-warning" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemax="100" ></div>
									</div> <!-- progress .// -->
								</td>
								<td width="50"> 95 % </td>
							</tr>
							<tr valign="middle">
								<td> 4 <i class="fa-solid fa-star"></i> </td>
								<td style="vertical-align:middle ;"> 
									<div class="progress" style="height: 10px;">
									<div class="progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemax="100"></div>
									</div> <!-- progress .// -->
								</td>
								<td> 80 % </td>
							</tr>
							<tr valign="middle">
								<td> 3 <i class="fa-solid fa-star"></i></td>
								<td style="vertical-align:middle ;"> 
									<div class="progress" style="height: 10px;">
									<div class="progress-bar bg-warning" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemax="100"></div>
									</div> <!-- progress .// -->
								</td>
								<td> 35 % </td>
							</tr>
							<tr valign="middle">
								<td> 2 <i class="fa-solid fa-star"></i> </td>
								<td style="vertical-align:middle ;"> 
									<div class="progress" style="height: 10px;">
									<div class="progress-bar bg-warning" role="progressbar" style="width: 13%;" aria-valuenow="13" aria-valuemax="100"></div>
									</div> <!-- progress .// -->
								</td>
								<td> 13 % </td>
							</tr>
							<tr valign="middle">
								<td> 1 <i class="fa-solid fa-star"></i> </td>
								<td style="vertical-align:middle ;"> 
									<div class="progress" style="height: 10px;">
									<div class="progress-bar bg-warning" role="progressbar" style="width:15%;" aria-valuenow="5" aria-valuemax="100"></div>
									</div> <!-- progress .// -->
								</td>
								<td> 15 % </td>
							</tr>
						</table>
						<a href="#" class="btn w-100 btn-primary-light">Write review</a>
						
					</div>
				</article>
			</aside>
		</div>
	
			<!-- =================== COMPONENT REVIEW .// ================== -->   

			 <!-- col.// -->
			<div class="col-lg-4">
			<!-- =================== COMPONENT SELLER ====================== -->
				
			<!-- =================== COMPONENT SELLER .// ================== --> 
			</div> <!-- col.// -->
	<!-- row .// -->

	

<!-- =================== COMPONENT REVIEW .// ================== -->

<!-- =================== COMPONENT REVIEW ====================== -->


<br><br>

</div> <!-- container .//  -->
</section>

<style>
	.scroll::-webkit-scrollbar-track{
		background-color: ghostwhite;
		scroll-margin-left: 10px !important;
	}
	.scroll::-webkit-scrollbar {
	width: 12px;  
	/* width of the entire scrollbar */
	}
	.scroll::-webkit-scrollbar-thumb {
  background-color: #F3F3F3;    /* color of the scroll thumb */
  border-radius: 20px;  
  height:40px;     /* roundness of the scroll thumb */
   /* creates padding around scroll thumb */
}
</style>