<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      
       
      p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size:20px;
        margin: 0;
      }
    </style>
    <body style="text-align: center;
    padding: 40px 0;
    background: #EBF0F5;">
      <div class="card" style="background: white;
      padding: 60px;
      border-radius: 4px;
      box-shadow: 0 2px 3px #C8D0D8;
      display: inline-block;
      margin: 0 auto;">
      <div style="border-radius:200px; height:200px; width:200px; background: #ee9f9f; margin:0 auto;">
        <i class="checkmark" style="  color: red;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;">X</i>
      </div>
        <h1 style="color: red;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;">Rejected</h1> 
        <p>We received your Order Cancellation Reuqest of Order ID #{{orderid}}, you are unable to make cancellation;<br/> Any questions please contact keyhub_support@gmail.com!</p>
      </div>
    </body>
</html>