<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<div class="container">
	<div class="shadow card card-body ">
		<form action="" method="POST">
		
			<h3 >Mails</h3>
				
			
			
			<div class="mb-3">
				<label for="mail_title" class="form-label">Mail Title</label>
				<input type="text" class="form-control" id="mail_title" name="mail_title" required>
			</div>
			<div class="mb-3">
				<label for="mail_subject" class="form-label">Mail Subject</label>
				<input type="text" class="form-control" id="mail_subject" name="mail_subject" required>
			</div>
            <div class="mb-3">
				<label for="mail_type" class="form-label">Mail Type</label>
                <br>
                <select class="form-select" aria-label="Default select example" id="mail-type" value="" name="mail_type" required>
                    <option value="Promotions"selected>Promotions</option>
                    <option value="Newsletter">Newsletter</option>
                    
                </select>
            </div>
			<div class="mb-3">
				<label for="template_id" class="form-label">Mail Template</label>
                <br>
                <select class="form-select" aria-label="Default select example" id="template_id" value="" name="template_id" required>
                    <option selected>Select a template</option>
                    <option value="5">Voucher BlackFriday Mail Template</option>
                    <option value="2">Newsletter Monthly Mail Template</option>
                    <option value="3">Voucher Mail Template</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Send Type</label>
			
			<div class=" btn-group-toggle" data-toggle="buttons">
               
                    <label class="btn btn-success col-2" id="type_choice_1" onclick="type_choice_1()" >
					<input type="radio" name="send_type" id="send_type_1" value="Automatic" autocomplete="off" checked> Automatic
                    
                    </label>
               
				
                    <label class="btn btn col-2" id="type_choice_2" onclick="type_choice_2()" >
                        <input type="radio" name="" id="send_type_2"  autocomplete="off" value="Manual" > Manual
                    </label>
                
			</div>
            
            </div>
			
           <div class="" id="timedisplay" >
                <label for="timepicker" class="form-label">Time Picker</label>
                
                <input type="text" id="timepicker" width="234" class="" name="date" value="{{mail.date}}" />
            </div>
            
            
            <br>
           
			<br>
			<div class="row">
				<div class="col-10 ">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				
				<button type="button" class="col-2 btn btn-primary"> <a href="/staff/manage-mail" style="text-decoration:none; color:white;">Return</a></button>
			</div>
           
            
			
		</form>
	</div>

 

</div>
<style>
.timepicker{
    display: none;
    
}
</style>
<script>
    $('#timepicker').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true
        });
    function type_choice_2(){
        document.getElementById("type_choice_2").classList.add('btn-danger');
        document.getElementById("send_type_2").name = "send_type";
        document.getElementById("timedisplay").classList.add('timepicker')
        document.getElementById("timepicker").value = "00:00 01/01/2022";
        document.getElementById("type_choice_1").classList.remove('btn-success');
        document.getElementById("send_type_1").name = "";
        console.log("ii")
        console.log(document.getElementById("date").value)
    

    }
    function type_choice_1(){
        document.getElementById("type_choice_1").classList.add('btn-success');
        document.getElementById("send_type_1").name = "send_type";
        document.getElementById("timedisplay").classList.remove('timepicker')
        document.getElementById("type_choice_2").classList.remove('btn-danger');
        document.getElementById("send_type_2").name = "";
     
        

    }
   
     $('.form-select').change(function () {
        var selectedItem = $('.form-select').val();
       
    });
    
</script>
